* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
    line-height: 1.6;
}

h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 3rem;
}

h2 {
    margin: 1rem;
}

/* Header section */

header {
    background: #fff;
    color: #333;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.social-buttons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
}

.social-buttons a:hover {
    background-color: #777;
    transform: scale(1.1);
}

section {
    padding: 2rem;
    text-align: center;
}

#about {
    max-width: 700px;
    margin: 0 auto;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.skills-list li {
    list-style: none;
    padding: 0.5rem 1rem;
    transition: transform 0.3s;
    width: 5.5rem; /* Set a consistent width for the list items */
    text-align: center; /* Center the content inside the list items */
}

.skills-list li img {
    width: 3rem;
    height: 3rem;
}

.skills-list li:hover {
    transform: scale(1.1);
}

.skills-list li p {
    font-size: 0.8rem; /* Adjust the size of the label text */
}

#projects .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.project {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the project card */
    display: flex;
    flex-direction: row; /* Default to row layout */
}

.project-image {
    flex: 1;
    margin: .5rem;
    max-width: 50%;
}

/* Tiling project image fade */

#tiling-image-wrapper {
    position: relative;
    width: 600px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    overflow: hidden; /* Hide overflow to keep images within the wrapper */
}

#tiling-image-wrapper .project-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

#tiling-image-wrapper .regular {
    transition: 0.5s;
}


@media (max-width: 850px) {
    .project {
        flex-direction: column; /* Change to column layout on smaller screens */
    }
    .project-image {
        max-width: 100%;
    }
}

.project-description {
    flex: 1;
    text-align: left; /* Ensure the content inside is left aligned */
    margin: 0.5rem; /* Add margin to the project description */
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.project-header h3 {
    font-size: 1.5rem;
}

.project-links a {
    color: #333;
    font-size: 1.5rem; /* Increase the size of the icons */
    margin: 0 0.5rem; /* Add some spacing between icons */
    transition: color 0.3s, transform 0.3s;
    text-decoration: none;
}

.project-links a:hover {
    color: #777; /* Change the color on hover */
    transform: scale(2); /* Slightly increase the size on hover */
}

.tech-pill {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.tech-pill i {
    margin-right: .25rem;
    margin-left: .25rem;
}

hr {
    border-top: 1px solid #ccc;
    margin: .5rem 0;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
